<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Fine Print</title>
    <link rel="stylesheet" type="text/css" href="../cssFiles/aboutus.css">
  </head>
  <body>
    <div>
    <form>
      <input id="shayna" type="button" value=" « Back" onclick="history.back()">
    </form>


    <!-- <h2><center>back</center></h2> -->
    <h1><center>About Us</center></h1>
  </div>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
* {
  box-sizing: border-box;

}

/* Create four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
</style>
<body>

<center>
<div class="row">
  <div class="column" style="background-color:white;">
  	 <img src="../cssFiles/IMG_9506.PNG" alt="FAHEEMAH" width="300"height="225"style="-webkit-transform:rotate(0deg);">
    <h2>Column 1</h2>
    <p>Some text..</p>
  </div>
  <div class="column" style="background-color:white;">
  	 <img src="../cssFiles/shayna_is_cool.PNG" alt="FAHEEMAH" width="300" height="225"style="-webkit-transform:rotate(90deg);">
    <h2>Column 2</h2>
    <p>Some text..</p>
  </div>
  <div class="column" style="background-color:white;">
  	 <img src="../cssFiles/whoaa.jpg" alt="FAHEEMAH" width="300" height="225"style="-webkit-transform:rotate(90deg);">
    <h2>Column 3</h2>
    <p>Some text..</p>
  </div>
  <div class="column" style="background-color:white;">
   <img src="../cssFiles/IMG_7429.JPG" alt="FAHEEMAH" width="300" height="225"style="-webkit-transform:rotate(90deg);">
    <h2>Column 4</h2>
    <p>Some text..</p>
  </div>
</div>
</center>












  </body>
</html>
