<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Fine Print</title>
    <link rel="stylesheet" type="text/css" href="../cssFiles/aboutus.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">
    <style>
    * {
    box-sizing: border-box;

    }

    /* Create four equal columns that floats next to each other */
    .column {
    float: left;
    width: 25%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
    }

    /* Clear floats after the columns */
    .row:after {
    content: "";
    display: table;
    clear: both;
    }
    </style>
  </head>
<body>
  <div>
    <form>
      <input id="shayna" type="button" value=" « Back" onclick="history.back()">
    </form>
    <!-- <h2><center>back</center></h2> -->
    <h1><center>About Us</center></h1>
  </div>

<!-- <center> -->
<div class="row">

  <div class="column" style="background-image: url("sayagata-400px.png");">
  	 <img src="../cssFiles/aboutusfoto.jpg" alt="FAHEEMAH" width="300" height="225"style="-webkit-transform:rotate(90deg);">
    <center><h2>Shyana</h2></center>
    <center><p> Shyana is a 16 year old rising junior at Sacred Heart Cathedral. In her spare time, Shayna enjoys baking in her free time. She chose this project because she wants people to be informed about their data security and privacy. For Fine Print, she is doing back end programming, such as the program that analyzes the text and looks for keywords in the privacy policies. </p></center>
  </div>

  <div class="column" style="background-image: url("sayagata-400px.png");">
  	 <img src="../cssFiles/image.jpg" alt="FAHEEMAH" width="300" height="225"style="-webkit-transform:rotate(90deg);">
    <center><h2>Faheemah</h2></center>
    <center><p>Faheemah is  16 years old and a rising junior at Burton high school. She enjoys baking and is always open to trying new things. She chose to do this project because she wanted to make everyone feel safe on the internet. She worked on the front end part of Fine Print, such as designing the website.
</p></center>
  </div>

  <div class="column" style="background-image: url("sayagata-400px.png");">
  	 <img src="../cssFiles/whoaa.jpg" alt="FAHEEMAH" width="300" height="225"style="-webkit-transform:rotate(90deg);">
    <center><h2>Justine</h2></center>
    <center><p>Justine is 15 years old and a rising junior at Lowell HIgh School. In her spare time she enjoys exercising, baking and hanging out with her friends. She decided to work on her project because it is something that can help her everyday to stay safer on the internet. During the project, she worked on the marketing side where she wrote up the  mission statement and________</p></center>
  </div>
  <div class="column" style="background-image: url("sayagata-400px.png");">
   <img src="../cssFiles/about.JPG" alt="FAHEEMAH" width="300" height="225"style="-webkit-transform:rotate(90deg);">
    <center><h2>Vilma</h2></center>
    <center><p>Vilma, 15, is an incoming junior at Lighthouse Community Charter School, where she takes part of a robotics club. She also enjoys swimming and is on a private swim team. I did this project because I worry at times that someone is looking over what I do and taking my information. In the project, Vilma has worked on the Css and HTML.</p></center>
  </div>
  </div>
<!-- </center> -->
  </body>
</html>
