-<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <link rel="icon" href="1611.ico">
    <link rel="stylesheet" type="text/css" href="../cssFiles/addcompany.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">


    <meta charset="utf-8">

    <title>Fine Print</title>
  </head>
  <body>

      <!-- <button type="button"><a href="index.html">《 back</a></button> -->
    <button onclick="window.location.href='index.html'">« back</button>

    <h1><center>Company Name</center></h1>

    <h2> Paste terms and conditions here</h2>
    <!-- &audioCheckBox=audio&dataCheckBox=data -->

    <form action="/companyname?data=userInput" method="post">
      <input id="companyName" type="text" class="userInput"  name="companyName" value = 'Enter Company Name Here'></input>
      <textarea value = "Insert text" name="userInput"></textarea>
      <input  id="addButton" type="submit" value="add">

      <h2><center>Highlighted Words</center></h2>
      <center>
      <input type="checkbox" class="camera" name="audio" value = 'audioCheck'>Audio / Microphone</input>
      <p></p>
      <input type="checkbox" class="camera" name="billing" value = 'billingCheck'>Billing Information</input>
      <p></p>

      <input type="checkbox" class="camera" name="camera" value = 'cameraCheck'>Camera</input>
      <p></p>

      <input type="checkbox" class="camera" name="otherstuff" value = 'otherstuffCheck'>Data</input>
      <p></p>

      <input type="checkbox" class="camera" name="location" value = 'locationCheck'>Location</input>
      <p></p>

      <input type="checkbox" class="camera" name="user" value = 'userCheck'>User Information</input>
      <p></p>

      <input type="checkbox" class="camera" name="all" value = 'allCheck'>All</input>
      <p></p>
    </center>
    </form>






    <!-- <div id="addButton">
      <center><button onclick="window.location.href='companyname.html'">add</button></center> -->
  </body>
</html>
