<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Fine Print</title>
      <link rel="stylesheet" type="text/css" href="../cssFiles/companyname.css">
    </head>
      <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">


  </head>
  <body>
    <form action="/addcompany" method="get">
      <button onclick="/addcompany">《  Back</button>
    </form>
   <div class="row">
     <center> <h1>{{ name }}</h1></center>
  </div>

<center>

    <div class="row">
  <div class="highc" style="background-color: #f7f6ea;"></div>
</dl>
  </div>
  <div class="column" style="background-color: white;">
    <center><h2><center>Terms and Conditions</center></h2>
    <p class="terms">
      <center><p id="inputText"> {{ audioWords }} </p></center>
      <center><p id="inputText"> {{ dataWords }} </p></center>
      <center><p id="inputText"> {{ userWords }} </p></center>
      <center><p id="inputText"> {{ billingWords }} </p></center>
      <center><p id="inputText"> {{ cameraWords }} </p></center>
      <center><p id="inputText"> {{ allWords }} </p></center>
      <center><p id="inputText"> {{ locationWords }} </p></center>
      </center>
  <div class="redc" style="background-color: #f7f6ea;">
    <dl><center>
</dl></center>
  </div>
</div>
</center>


  </body>
</html>
