<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Fine Print</title>
      <link rel="stylesheet" type="text/css" href="../cssFiles/companyname.css">
    </head>
      <link href="https://fonts.googleapis.com/css?family=Roboto:100" rel="stylesheet">


  </head>
  <body>

   <div class="row">
     <button onclick="window.location.href='index.html'" class="button">《  Back</button>
     <center> <h1>Company Name</h1></center>
  </div>



    <!-- <button type="button"><a href="index.html">《 back</a></button> -->

    <!-- <p>🔍</p> -->








<center>

    <div class="row">
  <div class="highc" style="background-color: #f7f6ea;">
    <h2><center>Highlighted Words</center></h2>
    <dl><center>
  <input type="checkbox" class="camera">Audio / Microphone</input>
  <br>
  <input type="checkbox" class="camera">Billing Information</input>
  <br>
  <input type="checkbox" class="camera">Camera</input>
  <br>
  <input type="checkbox" class="camera">Cancellation</input>
  <br>
  <input type="checkbox" class="camera">Collection of Information</input>
  <br>
  <input type="checkbox" class="camera">Contact Information</input>
  <br>
  <input type="checkbox" class="camera">Disclosure of Information</input>
  <br>
  <input type="checkbox" class="camera">EU Considerations</input>
  <br>
  <input type="checkbox" class="camera">Photo</input>
  <br>
  <input type="checkbox" class="camera">Refund</input>
  <br>
  <input type="checkbox" class="camera">Tracking Technologies</input>
  <br>
  <input type="checkbox" class="camera">Use of Information</input></center>
  <br>
</dl>
  </div>
  <div class="column" style="background-color: white;">

    <center><h2><center>Terms and Conditions</center></h2>
    <p class="terms">
      <center><p> {{ data }} </p></center></center></p>
  </div>
  <div class="redc" style="background-color: #f7f6ea;">
    <h2><center>Red Flags</center></h2>
    <dl><center>
  <input class="camera">Selling Data</input>
  <br>
  <input class="camera">Third Party</input>
  <br>
  <input class="camera">Change Terms and Conditions</input>
  <br>
</dl></center>
  </div>
</div>
</center>


  </body>
</html>
