<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <link rel="icon" href="../cssFiles/1611.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../cssFiles/index.css">
    <link href="https://fonts.googleapis.com/css?family=Gothic+A1" rel="stylesheet">
    <meta charset="utf-8">
    <title>FinePrint</title>


  </head>
  <body>
    <style>
* {box-sizing: border-box;}

body {
  margin: 8;
  font-family: roboto thin;
}


</style>

    <h1><center>Fine Print</center></h1>

    <h2><center>Most people aren’t aware of the data that websites are collecting or who
       it is being shared with, and Fine Print wants to help. We analyze the Terms and
        Conditions statements as well as the Privacy Policies of any website and alert
        you when key terms such as third party appear in the text.</center></h2>










     <div class="search-container">
    <!--TODO: i commented this out so the go button would wokr idk what is does -> <form action="/action_page.php"> -->
      <center><input type="text" placeholder="Enter a Company Name . . ." name="search">
        <!-- this doesnt actually search it just gors to the add company page until we can do search -->
      <button type="submit" onclick="/companyname"><i class="fa fa-search"></i></button></center>


  </div>
</div>


<!-- <h4><center>about us</center></h4> -->

<form action="/aboutus" method="get">
  <h4><center><button onclick="/aboutus">About Us »</button></center></h4>
</form>
<form action="/addcompany" method="get">
  <h4><center><button onclick="/addcompany">Add Company »</button></center></h4>
</form>






  </body>
</html>
