<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Fine Print</title>
    <link rel="stylesheet" type="text/css" href="../cssFiles/companyname.css">
  </head>
  <body>


    <center> <h1>Company Name</h1></center>

    <div class="row">
  <div class="highc" style="background-color: #f7f6ea;">

  </dl>
    </div>
    <div class="column" style="background-color: white;">

      <center><h2><center>Terms and Conditions</center></h2>
      <p class="terms">

  </div>
  <div class="redc" style="background-color: #f7f6ea;">
      <h2><center>Red Flags</center></h2>
      <dl><center>
    <dt class="camera">Selling Data</dt>
    <br>
    <dt class="camera">Third Party</dt>
    <br>
    <dt class="camera">Change Terms and Conditions</dt>
    <br>
</dl></center>
      </div>
    </div>
    </center>












































  </body>
</html>
