button{
  background-color: #57652A; /* Green */
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 15px;
    font-family: 'Gothic A1', sans-serif;
}
button:hover{
  background-color: #2A210B;
}
h2{
  margin-top: 25%;
  font-family: 'Gothic A1', sans-serif;
  font-weight: lighter;
  color: #AB9353;
}
p{
  margin-top: 10%;
}
body{
  background-color: #f7f6ea;
}

h1{
  font-family: 'Gothic A1', sans-serif;
  font-size: 60px;
  font-weight: lighter;
  color: #4D2C3D;
  margin-bottom: 5%;
  
}

img{
  border-radius: 20px;
}

#text{
  color: #155765;
  font-family: 'Gothic A1', sans-serif;
}
