* {
    box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {

    float: left;
    width: 25%;
    padding: 50px;
    height: 500px; /* Should be removed. Only for demonstration */

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;

}
dt {

}

.camera {

}

h1 {
  font-family: 'Gothic A1', sans-serif;
  font-size: 60px;
  font-weight: lighter;
  color: #4D2C3D;
  margin-bottom: 2%;
  margin-top: -1%;
}

button{
  background-color: #57652A; /* Green */
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 15px;
    font-family: 'Gothic A1', sans-serif;
}
button:hover{
  background-color: #2A210B;
}

h2{
  font-family: 'Gothic A1', sans-serif;
  font-weight: lighter;
  font-size: 30px;
  color: #155765;
  
}
dt{
  color: #AB9353;
  font-family: 'Gothic A1', sans-serif;
}
#text{
  color: black;
  font-family: 'Gothic A1', sans-serif;
}
body{
  background: #e0e0cc;

}
