h1 {
  color: rgb(77, 44, 61); font-family: 'Roboto', sans-serif; font-size: 70px
}

h2 {
  font-family: 'Roboto', sans-serif; border: 1px solid black; font-size: 35px
}


body {
    background-color: #f7f6ea;
}
