h1{
  font-family: 'Roboto', sans-serif;
  font-size: 80px;
  font-weight: lighter;
  color: #4D2C3D;

}
body{
  background-image: url("sayagata-400px.png");
}
h2{
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 30px;
  color: #AB9353;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 28px;
}

button{
  background-color: #57652A; /* Green */
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 28px;
}



button:hover{
  background-color: #2A210B;
}

a{
  color: white;
  text-decoration: none;
}

h3{
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 30px;
  color: #155765;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 20px;
  margin-top: 10px;
}
